/target/
/.settings/
/.project
/.classpath
/.springBeans
/.idea
/*.iml

/*/target/
/*/.settings/
/*/.project
/*/.classpath
/*/.springBeans
/*/.idea
/*/*.iml

**/*.log

**/src/main/java/io/spring/guides/gs_producing_web_service/
**/src/gen/
